Marcelo Pedroni da Silva RA.docx
Resolução dos exercícios 1 e 2 - Marcelo Pedroni da Silva.pdf
resoluções.txt
Aula_3_sistemas de busca.pptx
Marcelo Pedroni da Silva RA.pdf
Marcelo Pedroni da Silva RA.docx
Trabalho de sistema de busca sem informação - IA_2021-2.docx
Resolução Lista 2 - Marcelo Pedroni da Silva.docx
Resolução Lista 2 - Marcelo Pedroni da Silva.pdf
Trabalho de sistema de busca Aestrela - IA_2021-2.docx
Trabalho de sistema de busca Aestrela - IA_2021-2.pdf
Aula 05/Trabalho de sistema de busca sem informação por Largura- IA_2021-2.docx
Aula 05/Resolução Lista 3 - Marcelo Pedroni da Silva.docx
Aula 05/Resolução Lista 3 - Marcelo Pedroni da Silva.pdf
.gitignore
Aula 05/__pycache__/adjacente.cpython-38.pyc
Aula 05/__pycache__/cidade.cpython-38.pyc
Aula 05/__pycache__/fila.cpython-38.pyc
Aula 05/__pycache__/mapa.cpython-38.pyc
Aula 06/Resolução Exercício Busca - Marcelo Pedroni da Silva.docx
Aula 06/Resolução Exercício Busca - Marcelo Pedroni da Silva.pdf
Aula 06/__pycache__/Adjacente.cpython-38.pyc
Aula 06/__pycache__/Cidade.cpython-38.pyc
Aula 06/__pycache__/Mapa.cpython-38.pyc
Aula 06/__pycache__/VetorOrdenadoAdjacente.cpython-38.pyc
Aula 09/Trabalho de Algoritmo Genético - Marcelo Pedroni da Silva.pdf
Aula 08/Trabalho de Algoritmo Genético - Marcelo Pedroni da Silva.docx
Aula 08/Trabalho de Algoritmo Genético - Marcelo Pedroni da Silva.pdf
Aula 10/Trabalho Redes Neurais - Marcelo Pedroni da Silva.pdf
Aula 10/Trabalho Redes Neurais - Marcelo Pedroni da Silva.docx
Aula 10/Trabalho RNA - IA_2021-2.docx